---
layout: redirect.njk
permalink: /industries/cement-and-coal.html
target: /industries/bulk-material-handling.html
canonical: https://www.isystemsautomation.com/industries/bulk-material-handling.html
eleventyExcludeFromCollections: true
---
