---
permalink: /island-mode.html
eleventyExcludeFromCollections: true
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="refresh" content="0;url=/island-mode/">
  <link rel="canonical" href="https://www.isystemsautomation.com/island-mode/">
  <title>Redirecting to Island Mode Operation</title>
</head>
<body>
  <p><a href="/island-mode/">Island Mode Operation</a></p>
</body>
</html>
