---
layout: redirect.njk
permalink: /virtual-power-plant.html
target: /projects/virtual-power-plant.html
canonical: https://www.isystemsautomation.com/projects/virtual-power-plant.html
eleventyExcludeFromCollections: true
---
